body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 1.1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#choice-select {
  resize: none; 
  height: 200px;
  width: 300px;
  overflow-y: scroll;
  border-radius: 5px;
  border: 1px solid #3FA796;
  font-size: 1.1rem;
}

.container {
  margin: 10px 20% 10px 20%;
  width: 50%;
  border: 2px solid #90C8AC;
}

.title {
  text-align: left;
  background-color: #F5F0BB;
  color: #3FA796;
  padding-left: 20px;
  margin: 0;
  width: auto;
  height: 50px;
}

.row {
  display: flex;
  height: auto;
  width: auto;
}

.column-left {
  /* flex: 10px; */
  width: 30%;
  /* height: 25px; */
  text-align: left;
  padding: 20px;
  float: left;
  font-weight: bold;
}

.column-right {
  /* flex: 10px; */
  width: 100%;
  text-align: left;
  padding: 20px;
  float: left;
}

.textbox {
  height: 30px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid #3FA796;
  font-size: 1.1rem;
}

.odd-row {
  background-color: #F5F0BB;
}

.even-row {
  background-color: #F5F0BB;
}

.button {
  border: 1px solid #73A9AD;
  border-radius: 5px;
  height: auto;
  width: auto;
  background-color: #F5F0BB;
  color: #3FA796;
  padding: 5px;
  font-weight: bold;
  font-size: 1rem;
}

@media only screen and (max-width: 950px) {
  .container {
    width: 80%;
    margin: 0;
  }
}

@media only screen and (max-width: 570px) {
  .container {
    width: 100%;
    margin: 0;
  }

  .button {
    height: auto;
  }
}

